---
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import React from "./icons/React.astro"
import Node from "./icons/Node.astro"
import Express from "./icons/Express.astro"
import Mongo from "./icons/Mongo.astro"
import SocialPill from "../components/SocialPill.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  REACT: {
    name: "React.js",
    class: "bg-black text-wihte",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  NODE: {
    name: "Node.js",
    class: "bg-[#68A063] text-white",
    icon: Node,
  },
  EXPRESS: {
    name: "Express.js",
    class: "bg-[#303030] text-white",
    icon: Express,
  },
  MONGODB: {
    name: "MongoDB",
    class: "bg-[#4DB33D] text-white",
    icon: Mongo,
  },
}
const PROJECTS = [
  {
    title: "Finapay - Pay & Expense Manager",
    description:
      "Aplicación web para mandar o recibir dinero, y llevar un registro de tus gastos. Tambien tienes la opcion de invertir tu dinero en diferentes fondos de inversion.",
    link: "https://finapay.netlify.app/",
    github: "https://github.com/aaridoms/finapay-client",
    image: "/projects/finapay.png",
    tags: [TAGS.REACT, TAGS.NODE, TAGS.EXPRESS, TAGS.MONGODB, TAGS.TAILWIND],
  },
]
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
      <div class="flex items-center mt-4">
        <SocialPill href="https://finapay.netlify.app/">
          See the project !
        </SocialPill>
      </div>
    </article>
  ))
}
